/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; background-color: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





/*Подключение шрифтов*/
/*нормальный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 400;
    src:local("Lakes"),
        url("../fonts/TTLakes-Regular.woff");
}


/*Подключаем шрифрты*/
/*жирный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: bold;
    src:local("Lakes"),
    url("../fonts/TTLakes-Bold.woff");
}


/*средний*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 500;
    src:local("Lakes"),
    url("../fonts/TTLakes-Medium.woff");
}

        /*Переменные*/
:root{
    --margin-horizontal:16px;
}


html {
    font-family: Lakes,sans-serif;
    font-size: 16px;
}


.center{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 320px;
    background-color: #F8F8F8;
    margin: 0 auto;
    padding: 24px 16px 0;
}

.center--article{
    padding: 0;
}


        /*header*/
.header{
    background-color: white;

}

.logo{
    height: 55px;
}

.logo__link{
    display: inline-block;
    height:max-content;
}


.navigation{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    height: 88px;
    border-bottom: #D9FFF5 solid 1px;
    /*background-color: burlywood;*/
}

.header__navigation{
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.navigation__side{
    display: flex;
    align-items: center;
    gap: 16px;

}


.item-nav__background{
    position: relative;
    background-color:#FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: inherit;
}

.item-nav__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_item__text{
    opacity: inherit;
}

.item-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}

.item-nav__text{
    display: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.item-nav:hover {
    opacity: 70%;
}

/*.text_item:hover{*/
/*    opacity: 70%;*/
/*}*/



.dop-menu{
    display: none;
    gap: 16px;
}

.main-menu{
    display: flex;
    gap: 16px;
    align-items: center;
}

    /*Разделиитель вертикальный*/
.navigation__main-menu:before{
    border-left: 2px solid #EAEAEA;
    content: "";
    height: 32px;
    margin-right: 4px;
}

.container__main-menu{
    display: none;
    margin-left: auto;
}

.burger{
    /*padding-left: 74px;*/
    position: relative;
    display: flex;
    gap: inherit;
    align-items: center;
}


.picture{
    width: 100%;
}

/*Заголовок страницы*/

.title{
    display: flex;
    align-items: center;
    height: 40px;

}

.title__text{
    display: inline-block;
    letter-spacing: -0.6px;
    font-size: 28px;
    font-weight: bold;
}

/*Маркер заголовка*/
.title__text:before{
    border-right: #41F6D7 solid 4px;
    border-radius: 0 4px 4px 0;
    content: "";
    position: relative;
    left: -16px;
    width: 8px;
    height: 40px;
}

/*Скрол меню*/
.scroll-menu{
    overflow-x: auto;
    padding: 24px 0;
}

.scroll-menu::-webkit-scrollbar {
    height: 0;
}

.scroll-menu__items{
    display: flex;
    flex-wrap: nowrap;
}

.scroll-menu__item {
    display: inline-block;
    width: max-content;
    padding: 8px 20px;
    border: 2px solid transparent;
    border-radius: 6px;
}

.scroll-menu__item:hover{
    opacity: 70%;
    border-color:#B8FFEC;
}

.scroll-menu__text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color:#7E7E82;
}


        /*Контейнер для article*/
.about-us{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


.about-us__text{
    height: 90px;
    overflow: hidden;
}

.about-us__text-container{
    padding: 0 16px;
    flex:1 0 50%;
}

.about-us__paragraph {
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 18px;
}

.about-us__paragraph + .about-us__paragraph{
    margin-top: 1.5em;
}

.about-us__button{
    padding: 16px 0;
}


.button__text{
    display: flex;
    gap:12px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.button__text:before{
    background: url(../img/readmore.png) no-repeat 50% 50%;
    content: "";
    height: 24px;
    width: 24px;
}

.about-us__img{
    min-width: 320px;
    width: 50%;
    height: 176px;
    /*flex-basis: 50%;*/
}


@media (min-width: 768px) {

    .header__navigation{
        padding: 0 24px;
    }

    .center,.header__navigation {
        width: 768px;
    }

    .center{
        padding: 24px 24px 0;
    }

    .center--article{
        padding: 0 24px;
    }

    .scroll-menu{
        padding: 32px 0;
    }

    .picture--radius-corner{
        border-radius: 6px 0 0 6px ;
    }

    .about-us__text {
        height: 160px;
    }

    .about-us__paragraph{
        line-height: 20px;
    }

    .dop-menu{
        display: flex;
    }

    .navigation__side {
        gap: 20px;
    }

    .burger:after{
        border-left: 2px solid #EAEAEA;
        content: "";
        height: 32px;
    }

    .main__container {
        gap: 32px;
    }

    .about-us{
        flex-wrap: nowrap;
    }

    .title__text:before {
    left:-24px;
    }

    .about-us__img{
        height: 208px;
    }

    .about-us__text-container{
        padding: 0 48px 0 0;
    }

    .about-us__button {
        padding: 10px 0 0;
    }
    }

@media (min-width: 1120px) {
    .scroll-menu{
        padding: 8px 0 0 0;
    }

    .center, .header__navigation {
        width: 1120px;
    }

    .center{
        padding: 42px 32px 0;
    }

    .center--article{
        padding: 0 32px;
    }

    .item-nav__text {
        display: inline-block;
    }

    .container__main-menu{
        display: flex;
    }

    header {
        display: none;
    }

    .main__container{
        gap: 8px;
        margin-top: 42px;
        margin-bottom: 8px;
    }
    /*Включаем перенос пунктов скрол меню*/
    .scroll-menu__items{
        flex-wrap: wrap;
    }

    .title__text:before {
        left:-32px;
    }

    .about-us__text-container{
        margin-top: 10px;
    }

    .about-us__img{
        height: 384px;
    }

    .about-us__text-container{
        padding: 0 36px 0 0;
    }
}


