/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; background-color: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





/*Подключение шрифтов*/
/*нормальный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 400;
    src:local("Lakes"),
        url("../fonts/TTLakes-Regular.woff");
}


/*Подключаем шрифрты*/
/*жирный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: bold;
    src:local("Lakes"),
    url("../fonts/TTLakes-Bold.woff");
}


/*средний*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 500;
    src:local("Lakes"),
    url("../fonts/TTLakes-Medium.woff");
}


html {
    font-family: Lakes,sans-serif;
    font-size: 16px;
}

/*Ограничение по ширине и центровка*/
.wrapper{
    width: 320px;
    margin: 0 auto;
    background: #F8F8F8;
}

/*Контейнер с паддинигами*/
.container{
    padding: 0 16px;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
}

.header::-webkit-scrollbar {
    height: 0;
}

.header__top{
    flex-grow: 1;
    background-color: white;
    border-bottom: #D9FFF5 solid 1px;
}

.header__title{
    margin-top: 24px;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.logo{
    height: 55px;
    position: relative;
    /*display: flex;*/
    /*gap: inherit;*/
    /*align-items: center;*/
}

.logo__link{
    display: inline-block;
    height:max-content;
}


.navigation{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    height: 88px;
}


.navigation__column{
    display: flex;
    align-items: center;
    gap: 16px;

}

/*Элемента навигаци круглый*/
.item-nav__background{
    position: relative;
    background-color:#FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: inherit;
}

.item-nav__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_item__text{
    opacity: inherit;
}

.item-nav{
    display: flex;
    gap: 8px;
    align-items: center;
}

.item-nav__text{
    display: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.item-nav:hover {
    opacity: 70%;
}

.dop-menu{
    display: none;
    gap: 16px;
}

.main-menu{
    display: flex;
    gap: 16px;
    align-items: center;
}

/*Разделиитель вертикальный*/
.sub-menu:nth-child(2){
    display: flex;
    gap: 20px;
    align-items: center;
}

.sub-menu:nth-child(2):before{
        border-left: 2px solid #EAEAEA;
        content: "";
        height: 32px;
}


/*Отключаем разделитель между бургером и лого на мобилке*/
.logo:before{
    display: none;
}

.navigation__column-right{
    gap:0;
}


/*Заголовок страницы*/

.title{
    display: flex;
    align-items: center;
    height: 40px;

}

.title__text{
    display: inline-block;
    letter-spacing: -0.6px;
    font-size: 28px;
    font-weight: bold;
}

/*Маркер заголовка*/
.title__text:before{
    border-right: #41F6D7 solid 4px;
    border-radius: 0 4px 4px 0;
    content: "";
    position: relative;
    left: -16px;
    width: 8px;
    height: 40px;
}

/*Скрол меню*/
.scroll-menu{
    overflow-x: auto;
    padding: 24px 0;
}

.scroll-menu::-webkit-scrollbar {
    height: 0;
}

.scroll-menu__items{
    display: flex;
    flex-wrap: nowrap;
}

.scroll-menu__item {
    display: inline-block;
    width: max-content;
    padding: 8px 20px;
    border: 2px solid transparent;
    border-radius: 6px;
}

.scroll-menu__item:hover{
    opacity: 70%;
    border-color:#B8FFEC;
}

.scroll-menu__text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color:#7E7E82;
}


        /*Контейнер для article*/

.container-article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 48px;
}


.about-us__text{
    height: 90px;
    overflow: hidden;
}

.about-us__text-container{
    padding: 0 16px;
    flex:1 1 auto;
}

.about-us__paragraph {
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 18px;
}

.about-us__paragraph + .about-us__paragraph{
    margin-top: 1.5em;
}

/*Кнопка чтать далее*/

.button{
    display: flex;
    gap:12px;
    align-items: center;
}

.about-us__button{
    padding: 16px 0;
}


.button__text{
    font-size: 16px;
    font-weight: 500;
}

.button:before{
    background: url(../img/readmore.png) no-repeat 50% 50%;
    content: "";
    height: 24px;
    width: 24px;
}

/*Картинка статьи*/

.about-us__img{
    flex:0 0 320px;
    height: 176px;
}

.picture{
    width: 100%;
}


@media (min-width: 768px) {
    .wrapper{
        width: 768px;
    }

    .container{
        padding: 0 24px;
    }

    .container-article{
        padding: 0 24px;
    }


    .scroll-menu{
        padding: 32px 0;
    }

    .picture--radius-corner{
        border-radius: 6px 0 0 6px ;
    }

    .about-us__text {
        height: 160px;
    }

    .about-us__paragraph{
        line-height: 20px;
    }

    .dop-menu{
        display: flex;
    }

    .navigation__column {
        gap: 20px;
    }


    .main__container {
        gap: 32px;
    }

    .about-us{
        flex-wrap: nowrap;
    }

    .title__text:before {
    left:-24px;
    }

    .about-us__img{
        flex-basis: 360px;
        height: 176px;
    }


    .about-us__text-container{
        padding: 0;
    }

    .about-us__button {
        padding: 10px 0 0;
    }

    .logo:before{
        display: inline-block;
    }

    }

@media (min-width: 1120px) {
    .scroll-menu{
        padding: 8px 0 0 0;
    }

    .wrapper{
        width: 1120px;
    }

    .container{
        padding: 0 32px;
    }

    .container-article{
        padding: 0 32px;
    }


    .item-nav__text {
        display: inline-block;
    }

    .bottom-header__main-menu{
        display: flex;
    }

    .main__container{
        gap: 8px;
        margin-top: 42px;
        margin-bottom: 8px;
    }
    /*Включаем перенос пунктов скрол меню*/
    .scroll-menu__items{
        flex-wrap: wrap;
    }

    .title__text:before {
        left:-32px;
    }

    .about-us{
        column-gap: 36px;
    }

    .about-us__text-container{
        margin-top: 10px;
    }

    .about-us__img{
        flex-basis: 531px;
        height: 307px;
    }

    .about-us__text-container{
        padding: 0;
    }

    .header__top {
        background-color: transparent;
        border-bottom: none;
        flex-grow: 0;
    }

    .header__title{
        order: -1;
        margin-top: 42px;
    }

    .dop-menu, .navigation__column-left{
        display: none;
    }

    .sub-main:before{
        display: none;
    }

    .navigation{
        height: auto;
    }
}


