/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; background-color: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





/*Подключение шрифтов*/
/*нормальный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 400;
    src:local("Lakes"),
    url("../fonts/TTLakes-Regular.woff");
}


/*Подключаем шрифрты*/
/*жирный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: bold;
    src:local("Lakes"),
    url("../fonts/TTLakes-Bold.woff");
}


/*средний*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 500;
    src:local("Lakes"),
    url("../fonts/TTLakes-Medium.woff");
}


html {
    font-family: Lakes,sans-serif;
    font-size: 16px;
}

/*Ограничение по ширине и центровка*/
.container{
    width: 320px;
    margin: 0 auto;
    background: #F8F8F8;
    min-width: 0;
}

/*Контейнер с паддинигами*/
.wrapper{
    padding: 0 16px;
}

.lg-title{
    background-image: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
}

.lg-title__text{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    padding: 16px 0;
}

.brands{
    display: flex;
    column-gap: 24px;
    row-gap: 16px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 176px;
    transition: max-height 1s;

}

.brand-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background-color: white;
    border: #EAEAEA solid 1px;
    border-radius: 6px;
    padding: 0 16px;
    flex-basis: 240px;
}

.brand-card__btn{
    background: url("../img/icon/go.svg");
    width: 40px;
    height: 40px;
}

.button{
    display: flex;
    gap:12px;
    align-items: center;
}

.button__text{
    font-size: 16px;
    font-weight: 500;
}

.button:before{
    background: url(../img/readmore.png) no-repeat 50% 50%;
    content: "";
    height: 24px;
    width: 24px;
    transition: all 0.5s;
}

.button--reverse:before{
    transform: rotate(180deg);
}

.swiper-container{
    overflow: hidden;
    position: relative;
}

.swiper-pagination{
    bottom: 0;
}

.swiper-pagination-bullet{
    height: 12px;
    width: 12px;
}

:root {
    --swiper-theme-color: #B5B6BC;
}

.swiper__shadow{
    position: absolute;
    top: 0;
    right: 0;
    height: 72px;
    width: 24px;
    background: linear-gradient(to right, rgba(248, 248, 248, 0.0001), #f8f8f8 100%);
    z-index: 10;
}


@media (min-width: 768px) {
    .container{
        width: 768px;
    }

    .wrapper{
        padding: 0 24px;
    }

    .brand-card{
        flex-basis: 224px;
    }

}

@media (min-width: 1120px) {

    .container{
        width: 1120px;
    }

    .wrapper{
        padding: 0 32px;
    }

    .brands{
        column-gap: 32px;
    }

    .brand-card{
        flex-basis: 240px;
    }
}