/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; background-color: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





/*Подключение шрифтов*/
/*нормальный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 400;
    src:local("Lakes"),
        url("../fonts/TTLakes-Regular.woff");
}


/*Подключаем шрифрты*/
/*жирный*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: bold;
    src:local("Lakes"),
    url("../fonts/TTLakes-Bold.woff");
}


/*средний*/
@font-face {
    font-family: "Lakes";
    font-style: normal;
    font-weight: 500;
    src:local("Lakes"),
    url("../fonts/TTLakes-Medium.woff");
}

html {
    font-family: Lakes,sans-serif;
    font-size: 16px;
}

/*Ограничение по ширине и центровка*/
.container{
    width: 320px;
    height:100%;
    margin-right: auto;
    background: #F8F8F8;
    box-shadow:  16px 0 52px 0 RGBA(14, 24, 80, 0.2), -2px 0 4px 0 RGBA(69, 79, 126, 0.02);
}

/*Верхняя часть всплывающего меню*/
.popup-menu__top{
    display: flex;
    flex-direction: column;
    gap: 46px;
}



/*Нижняя часть всплывающего меню*/
.popup-menu__bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.lang-select{
    display: flex;
    gap: 7px;
}

.popup-menu__lang-select{
    margin-top: 24px;
}

.lang-select__radio{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.lang-select__label{
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.lang-select__radio:checked+.lang-select__label{
    /*border: #FF3E79 solid 2px;*/
    color: #7E7E82;
}

.logo{
    height: 55px;
    position: relative;
    /*display: flex;*/
    /*gap: inherit;*/
    /*align-items: center;*/
}

.logo__link{
    display: inline-block;
    height:52px;
}

.logo__img{
    height:52px;
}

.popup-menu__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}


.popup-menu__list{
    display: flex;
    align-items: center;
    gap: 16px;

}

/*Элемента навигаци круглый*/

.icon{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    background-color:#FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: inherit;
    transition: opacity 0.5s;
}

.icon__text{
    display: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.icon:hover {
    opacity: 50%;
}

.dop-menu{
    display:flex;
    gap: 16px;
}


.wrapper{
    padding:18px 24px 32px ;
}

.popup-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:20px;
    height: 100%;
    overflow: scroll;
}

.popup-menu::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

/* Скрол бар */
.wrapper::-webkit-scrollbar-thumb {
    background: #dcd8d8;
    border-radius: 2px;
}

 /*Скрол бар наведение */
.wrapper::-webkit-scrollbar-thumb:hover {
    background: #a49e9e;
}

/*Заголовок страницы*/


.popup-menu__link{
    position: relative;
    transition: all 0.5s;
    color:#1B1C21;
    letter-spacing: -0.6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}


/*Маркер заголовка*/
.popup-menu__link:before{
    border-right: #41F6D7 solid 4px;
    border-radius: 0 4px 4px 0;
    content: "";
    position: absolute;
    left: -28px;
    top: -4px;
    width: 8px;
    height: 32px;
    opacity: 0;
    transition:all 1s;
}

.popup-menu__link:hover:before{
    opacity: 1;
}

.popup-menu__link:hover{
    /*transform: translateX(10px);*/
    color:#7E7E82;

}

.popup-menu__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:32px;
}

.phone-link {
    color: #1B1C21;
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.mail-link{
    font-weight: 500;
    color: #1B1C21;
    letter-spacing: -0.2px;
    line-height: 24px;
    font-size: 16px;
}
